<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="board" type="com.ticket.domain.BoardVO"/>
		<typeAlias alias="seatinfo" type="com.ticket.domain.Seatinfo"/>
		<typeAlias alias="str" type="java.lang.String" />
		<typeAlias alias="int" type="java.lang.Integer" />
		<typeAlias alias="res" type="com.ticket.domain.ResVO"/>
	</typeAliases>
</configuration>