<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<update id="insertBoard">
		insert into theater (ttr_no,com_id,ttr_cat,ttr_title,ttr_sdate,ttr_edate,ttr_place,ttr_time,ttr_alert,ttr_content)
		values(ttr_seq.nextval,#{com_id},#{ttr_cat},#{ttr_title},#{ttr_sdate},#{ttr_edate},#{ttr_place},#{ttr_time},#{ttr_alert},#{ttr_content})
	</update>
	
	<select id="selectBoardByNo" resultType="board">
		select *
		from theater
		where ttr_no=#{ttr_no}
	</select>
	
	<update id="updateBoard">
		update theater set ttr_title=#{ttr_title},ttr_date=sysdate,ttr_sdate=#{ttr_sdate},ttr_edate=#{ttr_edate},ttr_place=#{ttr_place},ttr_time=#{ttr_time},ttr_alert=#{ttr_alert},ttr_content=#{ttr_content}
		where ttr_no=#{ttr_no}
	</update>
	
	<update id="deleteBoard">
		delete from theater where ttr_no=#{ttr_no}
	</update>
	
	<select id="selectBoardList" resultType="board">
		select ttr_no,com_id,ttr_cat,ttr_title,ttr_date,ttr_sdate,ttr_edate,ttr_place,ttr_time,ttr_alert,ttr_content
		from theater
		order by ttr_no desc
	</select>
	
	<select id="selectBoardListByCat" resultType="board">
		select *
		from theater
		where ttr_cat=#{ttr_cat}
		order by ttr_no desc
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and ttr_title like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'c'.toString()">
				and ttr_content like '%'||#{keyword}||'%'
			</if>
			<if test="searchType == 'p'.toString()">
				and ttr_place like '%'||#{keyword}||'%'
			</if>
		</if>
	</sql>
	
	<select id="selectSearchBoardList" resultType="board">
		select *
		from board
		<include refid="search"></include>
		order by ttr_no desc
	</select>
	
	<select id="selectmaxttr_no" resultType="int">
		select max(ttr_no) from theater
	</select>
	
	<update id="insertThumb">
		insert into thumb(ttr_no,thumb_name)
		values(#{ttr_no,jdbcType=INTEGER},#{thumb_name,jdbcType=VARCHAR})
	</update>
	
	<update id="deleteThumb">
		delete from thumb
		where ttr_no=#{ttr_no}
	</update>
	
	<select id="selectThumb" resultType="str">
		select thumb_name from thumb
		where ttr_no=#{ttr_no}
	</select>
	
	<update id="insertseatmap">
		insert into seatmap(ttr_no,seatmap_name)
		values(#{ttr_no},#{seatmap_name})
	</update>
	
	<update id="deleteseatmap">
		delete from seatmap
		where ttr_no=#{ttr_no}
	</update>
	
	<select id="selectseatmap" resultType="str">
		select seatmap_name from seatmap
		where ttr_no=#{ttr_no}
	</select>
	
	<update id="insertfile">
		insert into file_tbl(file_id,file_name,ttr_no)
		values(file_seq.nextval,#{file_name},#{ttr_no})
	</update>
	
	<update id="deletefile">
		delete from file_tbl
		where ttr_no=#{ttr_no}
	</update>
	
	<select id="selectfile" resultType="str">
		select file_name from file_tbl
		where ttr_no=#{ttr_no}
		order by file_id
	</select>
	
</mapper>