<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
	<update id="insertBoard">
		insert into theater (ttr_no,com_id,ttr_cat,ttr_title,ttr_date,ttr_sdate,ttr_edate,ttr_place,ttr_time,ttr_alert,ttr_content)
		values(ttr_seq.nextval,#{no},#{id},#{cat},#{title},#{date},#{sdate},#{edate},#{place},#{time},#{alert},#{content})
	</update>
	
	<select id="selectBoartdByNo" resultType="Board">
		select ttr_no,com_id,ttr_cat,ttr_title,ttr_date,ttr_sdate,ttr_edate,ttr_place,ttr_time,ttr_alert,ttr_content
		from theater
		where ttr_no=#{no}
	</select>
	
	<update id="updateBoard">
		update theater set ttr_title=#{title},ttr_date=sysdate,ttr_sdate=#{sdate},ttr_edate=#{edate},ttr_place=#{place},ttr_time=#{time},ttr_alert=#{alert},ttr_content=#{content}
		where ttr_no=#{no}
	</update>
	
	<update id="deleteBoard">
		delete from theater where ttr_no=#{no}
	</update>
	
	<select id="selectBoardList" resultType="Board">
		select ttr_no,com_id,ttr_cat,ttr_title,ttr_date,ttr_sdate,ttr_edate,ttr_place,ttr_time,ttr_alert,ttr_content
		from theater
		order by ttr_no desc
	</select>
</mapper>